.message{
    display: flex;
    align-items: start;
    gap: 0.5vw;
    .messageInfo{
        display: flex;
        flex-direction: column;
        gap: 0.25vw;
        margin-bottom: 1.25vw;
        img{
            width: 3vw;
            height: 3vw;
            border-radius: 50%;
            object-fit: cover;
        }
        .time{
            color: lightgray;
        }
    }
    .messageContent{
        display: flex;
        flex-direction: column;
        gap: 1vw;
        max-width: 80%;
        margin-bottom: 1.25vw;

        img{
            width: 30%;
        }
        p{
            background-color: white;
            padding: 0.25vw 1vw;
            color: black;
            border-radius: 0px 10px 10px 10px;
        }
    }
    &.owner{
        flex-direction: row-reverse;
        .messageContent{
            align-items: flex-end;
            margin-bottom: 1.25vw;
            p{
                background-color: orangered;
                color: white;
                border-radius: 10px 0px 10px 10px;
            }
        }

    }
}